@import "module/module";
@import "compass/reset";


html,
body {
  margin: 0;
  padding: 0;
  font-size: $fontBase;
  color: $colorText;
}

body {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

/* A base classes

Styleguide 1.0
*/


/* A container base block element.

Markup: <div class="{$modifiers}">containar</div>

.container - base block

Styleguide 1.1
*/
.container {
  @include container;
}

/* A generic

Markup: <div class="{$modifiers}">GENERIC CLASS</div>

.centered - centering value

Styleguide 1.2
*/
.centered {
  text-align: center;
}
