.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* Grid system

Styleguide 2.0
*/
/* basic of Grid system

Markup:
<div class="row clearfix">
  <div class="{$modifiers}">1</div><div class="{$modifiers}">2</div>
</div>

.col-md-4 - about width 33%
.col-md-6 - about width 50%

Styleguide 2.1
*/
.row {
  margin: 0 auto;
}
.row .col-md-1 {
  width: 8.25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-2 {
  width: 16.5%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-3 {
  width: 24.75%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-4 {
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-5 {
  width: 41.25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-6 {
  width: 49.5%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-7 {
  width: 57.75%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-8 {
  width: 66%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-9 {
  width: 74.25%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-10 {
  width: 82.5%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.row .col-md-11 {
  width: 90.75%;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

/* Grid system with showed grid

Markup:
<div class="row show-grid clearfix">
  <div class="{$modifiers}">1</div><div class="{$modifiers}">2</div>
</div>

.col-md-4 - about width 33%
.col-md-6 - about width 50%

Styleguide 2.2
*/
.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.color--red {
  color: #cb4437;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #404040;
}

body {
  position: relative;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

/* A base classes

Styleguide 1.0
*/
/* A container base block element.

Markup: <div class="{$modifiers}">containar</div>

.container - base block

Styleguide 1.1
*/
.container {
  position: relative;
  padding: 0 3%;
  margin: 0 auto;
}

/* A generic

Markup: <div class="{$modifiers}">GENERIC CLASS</div>

.centered - centering value

Styleguide 1.2
*/
.centered {
  text-align: center;
}
